<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>slideShow</title>
</head>
<body>
    <div class="slidershow middle">
        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">
            <input type="radio" name="r" id="r5">

            <div class="slide s1">
                <img src="/assets/cat-5394567_1920.jpg">
            </div>
            <div class="slide s2">
                <img src="/assets/cherries-5360265_1920.jpg">
            </div>
            <div class="slide s3">
                <img src="/assets/pet-5173354_1920.jpg">
            </div>
            <div class="slide s4">
                <img src="/assets/truebsee-5337646_1920.jpg">
            </div>
            <div class="slide s5">
                <img src="/assets/zakynthos-4908247_1920.jpg">
            </div>
        </div>
        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            <label for="r5" class="bar"></label>
        </div>
    </div>
</body>
</html>